body{
    margin: 0; /* Remove a margem padrão ao redor do corpo da página */
    padding: 0; /* Remove o preenchimento padrão dentro do corpo da página */
    width: 100%; /* Define a largura do corpo da página como 100% do tamanho da janela */
    height: 600px; /* Define uma altura fixa para o corpo da página */
}
nav{
    margin: 0 auto; /* Centraliza o menu horizontalmente */
    position: absolute;  /* Posiciona o menu em relação à viewport, para que ele fique "fixo" na página */
    top: 15px; /* Posiciona o menu a 15px do topo da página */
    width: 100%; /* Define a largura do menu para 100% da janela */
    min-width: 1080px; /* Define uma largura mínima para o menu de 1080px */
}
nav #mainMenu-geral{
    max-width: 1480px; /* Define uma largura máxima de 1480px para o menu */
    height: 125px; /* Define a altura da barra de navegação */
    margin: 0 auto; /* Centraliza o conteúdo do menu horizontalmente */
    background-color: black; /* Define a cor de fundo da barra de navegação como preta */
}

nav ul {  /* Estiliza a lista não ordenada dentro da tag <nav> */
    display: flex; /* Utiliza o layout flexível para alinhar os itens em uma linha */
    flex-direction: row; /* Define que os itens serão dispostos em uma linha horizontal */
    margin: 0; /* Remove a margem padrão ao redor da lista */
    padding: 0; /* Remove o preenchimento padrão dentro da lista */
}

nav ul li { /* Estiliza cada item da lista dentro da tag <nav> */
    list-style: none; /* Remove a marcação padrão dos itens da lista (como as bolinhas) */
    height: 125px; /* Define a altura dos itens para se alinhar com o menu */
    transition: all 1s; /* Adiciona uma transição suave para todas as propriedades ao longo de 1 segundo */
}
nav ul li:hover { /* Aplica um estilo diferente quando o usuário passa o mouse sobre o item */
    background-color: #444444; /* Muda a cor de fundo do item da lista para um cinza escuro */
    transition: all 1s; /* Adiciona uma transição suave para todas as propriedades ao longo de 1 segundo */
}

nav ul li span{
    float: left; /* Alinha o texto (número) à esquerda dentro do item da lista */
    color: #868686; /* Define a cor do texto como cinza claro */
    font-size: 11px; /* Define o tamanho da fonte do texto como 11px */
    margin: 58px 3px 53px 15px; /* Define margens ao redor do texto para posicioná-lo corretamente */
}

nav ul li a{
    color: white; /* Define a cor do texto do link como branco */
    font-size: 16px; /* Define o tamanho da fonte do texto do link como 16px */
    text-transform: uppercase; /* Converte todo o texto do link para maiúsculas */
    text-decoration: none; /* Remove a sublinha padrão dos links */
    padding: 53px 15px 53px 0; /* Adiciona preenchimento ao redor do texto do link */
    float: left; /* Alinha o link à esquerda dentro do item da lista */
    transition: all 1s; /* Adiciona uma transição suave para todas as propriedades ao longo de 1 segundo */
}

nav ul li a:hover{
    text-decoration: line-through; /* Adiciona uma linha cortando o texto quando o mouse está sobre o link */
    color: yellow; /* Muda a cor do texto para amarelo quando o mouse está sobre o link */
    transition: all 1s; /* Adiciona uma transição suave para todas as propriedades ao longo de 1 segundo */
}

nav ul li a span{
    font-size: 11px; /* Define o tamanho da fonte do texto dentro do span como 11px */
    color: #868686; /* Define a cor do texto dentro do span como cinza claro */
    margin: 5px 3px 0 0; /* Adiciona margens ao redor do texto para posicioná-lo corretamente */
}

nav #logo img { /* Estiliza a imagem do logo dentro da tag <nav> */
    height: 75px; /* Define a altura da imagem do logo */
    margin: 25px; /* Adiciona uma margem de 25px ao redor da imagem */
    float: left; /* Alinha a logo à esquerda dentro do menu */
}

nav #mainMenu { /* Estiliza o contêiner do menu principal */
    float: right; /* Alinha o contêiner do menu à direita da barra de navegação */
}

.montserrat, nav ul li a{
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat aos itens da lista */
    font-optical-sizing: auto; /* Ajusta automaticamente o tamanho óptico da fonte */
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
    font-style: normal; /* Define o estilo da fonte como normal (sem itálico) */
}

header img{
    width: 100%; /* Define a largura da imagem do cabeçalho como 100% da largura da tela */
    height: 600px; /* Define a altura fixa da imagem como 600px */
    object-fit: cover; /* Garante que a imagem cubra totalmente o contêiner, mantendo as proporções */
}
